<div>
  <div>
    <h1>
      Delivery Tracker
    </h1>
  </div>
    <p>Know if something gets lost in the mail</p>
</div>

<hr>

<div>
  <div>
    <h2>
      Expecting a package?
    </h2>

    <form action="/insert_post" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="arrive_on_box">
          Supposed to arrive on 
        </label>

        <input type="date" id="arrive_on_box" name="query_arrive_on">
      </div>

      <div>
        <label for="detail_box">
          Details
        </label>

        <textarea name="query_detail" id="detail_box" cols="20" rows="3"></textarea>

        <input type="hidden" name="query_user_id" value="<%= current_user.id %>">
        <input type="hidden" name="query_arrived" value="false">
      </div>

      <button>
        Log delivery
      </button>
    </form>
  </div>
</div>

<hr>

<div class="waiting_on">
  <h2>Waiting on </h2>

  <% @list_of_posts.each do |a_post| %>
      <ul>
        <li>
          <div>
            <%= a_post.description %>
          </div>

          <div>
            <%= "Supposed to arrive on #{a_post.arrive_on}" %>
          </div>

          <div>
            <%= a_post.detail %>
          </div>
          <div>
            <form action="/modify_post/<%= a_post.id %>" method="post">
              <input type="hidden" name="query_arrived" value="true">
              <button type="submit">Marked as received</button>
            </form>
          </div>
        </li>
      </ul>
  <% end %>
</div>

<hr>

<div class="received">
  <h2>Received</h2>

  <% @list_of_posts.each do |a_post| %>
      <ul>
        <li>
          <div>
            <%= a_post.description %>
          </div>

          <div>
            <%= a_post.updated_at %>
            <small><a href="/delete_post/<%= a_post.id %>">Delete</a></small>
          </div>
        </li>
      </ul>
  <% end %>
</div>
