<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Tracker 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/css/my_styles.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>

      <% if current_user != nil %>
        <a href="/">Delivery Tracker</a>
        <span>|</span>
        <a href="/users/edit">Edit profile</a>
        <span>|</span>
        <a href="/users/sign_out">Sign out</a>
      <% else %>
        <a href="/users/sign_up">Sign up</a>
         <span>|</span>
        <a href="/users/sign_in">Sign in</a>
      <% end %>

    </nav>

    <hr>
    
    <div>
      <% if notice.present? %>
        <%= notice %>
      <% end %>

      <% if alert.present? %>
        <%= alert %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
